:root {
    --default-bg-color: azure;
    --larger-desktops-bg-color: beige;
    --large-desktops-bg-color: burlywood;
    --desktops-bg-color: cornflowerblue;
    --tablets-bg-color: darkcyan;
    --mobile-bg-color: darkorange;

    --flag-yellow: yellow;
    --flag-green: green;
    --flag-red: red;
}

body {
    margin: 0;
    background: var(--default-bg-color);
}

.picture-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-section .picture-container {
    width: 75%;
    position: relative;
}

.picture-section picture {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-section .picture-container .city-data {
    display: none;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: crimson;
    color: white;
}

.picture-section .picture-container:hover > .city-data.vilnius {
    display: block;
}

.picture-section picture img {
    width: 100%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

footer div {
    flex: 1;
}

footer div:nth-child(1) {
    background-color: var(--flag-yellow);
}

footer div:nth-child(2) {
    background-color: var(--flag-green);
}

footer div:nth-child(3) {
    background-color: var(--flag-red);
}

@media (max-width: 1400px) {
    body {
        background-color: var(--larger-desktops-bg-color);
    }

    .picture-section .picture-container:hover .city-data.kaunas {
        display: block;
    }
}

@media (max-width: 1200px) {
    body {
        background-color: var(--large-desktops-bg-color);
    }

    .picture-section .picture-container:hover > .city-data.klaipeda {
        display: block;
    }
}

@media (max-width: 992px) {
    body {
        background-color: var(--desktops-bg-color);
    }

    .picture-section .picture-container:hover > .city-data.siauliai {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        background-color: var(--tablets-bg-color);
    }

    .picture-section .picture-container:hover > .city-data.panevezys {
        display: block;
    }
}

@media (max-width: 576px) {
    body {
        background-color: var(--mobile-bg-color);
    }

    .picture-section .picture-container:hover > .city-data.alytus {
        display: block;
    }
}
