html {
    font-family: sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
    padding-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #212121;
    padding-bottom: 40px;
    line-height: 1.25;
}

h2.white {
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-transform: uppercase;
}

h6 {
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px;
    font-size: 14px;
}

p {
    color: #858585;
}

button {
    background-color: white;
    border-width: 0;
    border-radius: 4px;
    padding: 15px 0;
    width: 180px;
    font-weight: 600;
    color: #325b4c;
    cursor: pointer;
}

button.green {
    background-color: #325b4c;
    color: white;
    padding: 15px 0;
    width: 230px;
}

button:hover {
    background-color: #858585;
    color: white;
}

.hero-section {
    height: 100vh;
    background-image: url("https://s.aolcdn.com/os/ab/_cms/2019/10/11192400/RP-Bentley-Extreme-Silver-Flying-Spur-Monaco-48.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.hero-section header img {
    height: 50px;
}

.hero-section header .burger-container,
.hero-section header .search-button {
    padding: 10px;
}

.hero-section header .burger-container svg,
.hero-section header .search-button svg {
    fill: white;
}

.hero-section section {
    padding: 0 65px;
    padding-bottom: 90px;
}

.text-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

.text-section p {
    max-width: 600px;
    line-height: 1.75;
    font-family: system-ui;
}

.models-list {
    padding: 0 65px;
    display: flex;
    justify-content: center;
}

.models-list .models-container {
    max-width: 1800px;
    display: flex;
    width: 100%;
}

.models-list .model {
    flex: 1;
}

.models-list .model img {
    width: 100%;
}

.models-list .model:first-child {
    padding-right: 5px;
}

.models-list .model:last-child {
    padding-left: 5px;
}

.models-list .model {
    position: relative;
}

.models-list .model h3 {
    position: absolute;
    top: 0px;
    width: 100%;
}

.text-section.configurator button {
    margin-top: 40px;
}

.text-section.dealership {
    background-image: url("http://www.luxuryfurniturecustom.com.img26757.200cdn.com:9898/upfiles/201801/15/1515997460_73.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10vh 0;
    height: 80vh;
}

.discover-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-section .content-container {
    max-width: 1200px;
    padding: 0 50px;
    width: 100%;
}

.discover-section .content-container div {
    display: flex;
}

.discover-section .content-container h2 {
    text-align: center;
    padding: 100px 0;
}

.discover-section section img {
    max-width: 100%;
}

.discover-section section:first-child {
    padding-right: 5px;
}

.discover-section section:last-child {
    padding-left: 5px;
}

.discover-section section h5 {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #858585;
}

.discover-section section h4 {
    color: #212121;
    font-weight: 600;
}

.discover-section .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 10vh;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    font-weight: 600;
}

footer > div {
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;
}

footer .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

footer .sections-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #858585;
    padding-bottom: 8vh;
}

footer .sections-container > section {
    min-width: 238px;
    padding: 25px 0;
}

footer .logo-container img {
    width: 114px;
}

footer li {
    padding-bottom: 10px;
}

footer a {
    color: #4d4d4d;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    color: #4d4d4d;
    font-size: 14px;
    padding: 8vh 0;
    flex-wrap: wrap;
}

footer .copyright span {
    line-height: 1.5;
}

footer .copyright :first-child {
    padding-bottom: 15px;
}

@media (max-width: 1024px) {
    .models-list {
        padding: 0 25px;
    }

    .models-container {
        flex-direction: column;
    }

    .models-container .model:first-child {
        padding-right: 0px;
        padding-bottom: 5px;
    }

    .models-container .model:last-child {
        padding-left: 0px;
        padding-top: 5px;
    }

    .discover-section .content-container {
        padding: 0 25px;
    }

    .discover-section .content-container div {
        flex-direction: column;
    }

    .discover-section section:first-child {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .discover-section section:last-child {
        padding-left: 0;
        padding-top: 50px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 40px;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
    }

    button {
        font-size: 12px;
    }

    .hero-section header img {
        height: 40px;
    }

    .hero-section section {
        padding: 0px 20px;
        padding-bottom: 25px;
        text-align: center;
    }

    .hero-section section button {
        width: 100%;
        max-width: 380px;
    }

    .text-section.dealership {
        margin: 5vh 0;
    }

    .discover-section .content-container h2 {
        padding: 40px 0;
    }

    .discover-section section:first-child {
        padding-bottom: 25px;
    }

    footer .sections-container {
        flex-direction: column;
        align-items: center;
    }

    footer > div {
        padding: 0 20px;
    }
}
