html {
    font-family: sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
    padding-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #212121;
    padding-bottom: 40px;
    line-height: 1.25;
}

h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
}

p {
    color: #858585;
}

button {
    background-color: white;
    border-width: 0;
    border-radius: 4px;
    padding: 15px 30px;
    font-weight: 600;
    color: #325b4c;
    cursor: pointer;
}

button.green {
    background-color: #325b4c;
    color: white;
}

button:hover {
    background-color: #858585;
    color: white;
}

.hero-section {
    height: 100vh;
    background-image: url("https://cdn.motor1.com/images/mgl/Bj9wM/s1/bentley-continental-gt-speed-convertible-front-road.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.hero-section header img {
    height: 50px;
}

.hero-section header .burger-container,
.hero-section header .search-button {
    padding: 10px;
}

.hero-section header .burger-container svg,
.hero-section header .search-button svg {
    fill: white;
}

.hero-section section {
    padding: 0 65px;
    padding-bottom: 90px;
}

.text-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

.text-section p {
    max-width: 600px;
    line-height: 1.75;
    font-family: system-ui;
}

.models-list {
    padding: 0 65px;
    display: flex;
    justify-content: center;
}

.models-list .models-container {
    max-width: 1800px;
    display: flex;
    width: 100%;
}

.models-list .model {
    flex: 1;
}

.models-list .model img {
    width: 100%;
}

.models-list .model:first-child {
    padding-right: 5px;
}

.models-list .model:last-child {
    padding-left: 5px;
}

.models-list .model {
    position: relative;
}

.models-list .model h3 {
    position: absolute;
    top: 0px;
    width: 100%;
}

.text-section.configurator button {
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .models-list {
        padding: 0 25px;
    }

    .models-container {
        flex-direction: column;
    }

    .models-container .model:first-child {
        padding-right: 0px;
        padding-bottom: 5px;
    }

    .models-container .model:last-child {
        padding-left: 0px;
        padding-top: 5px;
    }
}
