h1 {
    font-size: 50px;
    color: brown;
}

.selector-section {
    min-height: 100px;
    padding: 20px;
    border: 1px dashed black;
    margin: 15px 0;
}

.elements-container * {
    font-size: 23px;
    color: chocolate;
}

.used-once {
    font-size: 30px;
    color: cornflowerblue;
}

.html {
    padding-left: 20px;
}

#html {
    padding-left: 30px;
}

a[href] {
    font-size: 20px;
    color: greenyellow;
}
